@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 7px;
  border-left: 1px solid #ddd;
}
body::-webkit-scrollbar-thumb {
  background-color: #000;
}
#header-text {
  font-family: 'Lobster', cursive;
}
/* main header */
.home-header {
  background-image: url(/img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  opacity: .1;
  transition: 3s all ease;
}
.home-header.onrender {
  opacity: 1;
}

/* header overlay */
.header-layer {
  transition: 2s all ease;
}
.header-layer.onrender {
  transform: translateY(100%);
}

/*  */
#navbar.onscroll {
  /* inherit value for x-axis */
  padding: 1.2rem 5rem;
  background-color: rgb(255, 255, 255);
  color: #000;
}
#navbar.onscroll-shadow {
  box-shadow: 0 2px 10px rgb(231, 231, 231);
}
